doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Nathan Hood Portfolio
    link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.4.2/pure-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/pure-min.css')
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-min.css')
    link(rel='stylesheet', href='./css/side-menu.css')
    link(rel='stylesheet', href='./css/app.css')
    //- link(rel='stylesheet' href='http://yui.yahooapis.com/pure/0.4.2/base-min.css')
  body

    #layout
      <!-- Menu toggle -->
      a(href='#menu' id='menuLink' class='menu-link')
          <!-- Hamburger icon -->
          span

      #menu
        .pure-menu.pure-menu-open
          //- a.pure-menu-heading(href='#')
          ul
            li
              a(href='./index.html') Home
            li
              a(href='./about.html') About
            li
              a(href='./contact.html') Contact

            li.menu-item-divided
              a(href='http://nathanhood.net/checkers/') Checkers
            li
              a(href='#') Yahtzee
            li
              a(href='#') Memory
            li
              a(href='http://nathanhood.net/super-bank/') Super Bank
            li
              a(href='http://nathanhood.net/super-calc/') Super Calc
            li
              a(href='http://nathanhood.net/simple-calc/') Simple Calc



      #main
        .header
          a(href='./index.html')
            h1 Nathan Hood
          h2 Software Developer

        .container
          img#window(src='./media/window.jpg')
        .links.pure-g
          #about.pure-u-1-3 About
          #work.pure-u-1-3 Work
          #contact.pure-u-1-3 Contact
          //- #weather-map
          //-   img(src='./media/map-weather.png')
          //- #super-bank
          //-   img(src='./media/super-bank.png')
          //- #super-calc
          //-   img(src='./media/super-calc-pic.png')
          //- #simple-calc
          //-   img(src='./media/simple-calc.png')

        #footer
          p e: nathanhood@gmail.com | p: 777-777-7777




    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es5/ui.js')
    script(src='./js/es6/main.js')
